.ui-btn {
  display: inline-block;
  padding: 0 2em;
  font-size: 1em;
  line-height: 2.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $gray-1020;
  background: #000;
  border: 0;

  &:focus {
    outline: 0;
    box-shadow: 0 0 1em 1px rgba(0,0,0,.2);
  }
}
