.progress {
  position: relative
  width: 100%
  height: 5px
  background: $grey-b
}

.progress-bar {
  position: absolute
  top:0
  left: 0
  height: 100%
  background: $brandSecondary
}

// @-webkit-keyframes glow {
//   0% {
//     box-shadow: 0 0 8px alpha($brandSecondary, .7)
//   }
//   50% {
//     box-shadow: 0 0 0 alpha($brandSecondary, .7)
//   }
//   100% {
//     box-shadow: 0 0 8px alpha($brandSecondary, .7)
//   }
// }
//
// .progress-bar--power {
//   box-shadow: 0 0 5px alpha($brandSecondary, .7)
//   animation: glow 1600ms linear infinite
// }
