@media (min-width:768px) {

.D\(ib\)--md {
	display: inline-block;
}

.Fl\(end\)--md {
	float: right;
}

.Fl\(start\)--md {
	float: left;
}

.Fz\(62px\)--md {
	font-size: 62px;
}

.Fz\(40px\)--md {
	font-size: 40px;
}

.Mx\(0\)--md {
	margin-left: 0;
	margin-right: 0;
}

.Px\(0\)--md {
	padding-left: 0;
	padding-right: 0;
}

.Py\(110px\)--md {
	padding-top: 110px;
	padding-bottom: 110px;
}

.Py\(50px\)--md {
	padding-top: 50px;
	padding-bottom: 50px;
}

.W\(50\%\)--md {
	width: 50%;
}

.W\(a\)--md {
	width: auto;
}

.W\(35\%\)--md {
	width: 35%;
}

.W\(65\%\)--md {
	width: 65%;
}

}

