._bio_gsaw4_1 {
  display: flex
}

/*'@media (min-width: 768px)': {
  flexBasis: '60%',
  maxWidth: '60%',
},*/

._colLarge_gsaw4_10 {
  min-height: 20em;
  padding: 5%;
}

._colSmall_gsaw4_15 {
  display: none
}
/*@media (min-width: 768px): {
  display: block,
  flexBasis: 40%,
  maxWidth: 40%,
  background: uiVariables.gray200,
},*/

._bioPic_gsaw4_25 {
  display: block;
  width: 100%;
  opacity: 0.35;
}

._title_gsaw4_31 {
  margin-bottom: 1.3em;
  font-size: 1.5em;
  color: var(--gray300);
}
._hero_d693d_1 {
  min-height: 28em;
  text-align: center;
  background-color: var(--gray200);
  background-image: url('images/hero-block.png');
  background-size: 30em auto;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

._heroTitle_d693d_12 {
  padding: 2.5em 1em 0.5em;
  color: #fff;
  font-size: 12vw;
  font-weight: 300;
}

._subTitle_d693d_19 {
  padding: 0 1em;
  font-size: 1em;
  color: #fff;
}

/*'@media (min-width: 768px)': {
  height: '100vh';
  backgroundPosition: 'left center',
  // backgroundSize: '700px auto',
}*/

/*'@media (min-width: 768px)': {
  padding: '41vh 0 0',
  fontSize: '3.5em',
}*/
