._bar_1xu4g_1 {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  padding: 0 1em;
  line-height: 50px;
  background: rgba(0,0,0,0.0);
}

._logo_1xu4g_11 {
  float: left;
  color: #fff;
  font-size: 1.2em;
}

._menu_1xu4g_17 {
  float: right;
  color: #fff;
}

._menuItems_1xu4g_22 {
  display: inline-block;
}

._menuLink_1xu4g_26 {
  margin: 0 10px;
  color: var(--gray-1020);
  font-size: .85em;
  font-weight: 300;
  letter-spacing: 2;
}

._menuLink_1xu4g_26:hover {
  color: blue;
}
._bio_11e8b_1 {
  display: flex
}

/*'@media (min-width: 768px)': {
  flexBasis: '60%',
  maxWidth: '60%',
},*/

._colLarge_11e8b_10 {
  min-height: 20em;
  padding: 5%;
}

._colSmall_11e8b_15 {
  display: none
}
/*@media (min-width: 768px): {
  display: block,
  flexBasis: 40%,
  maxWidth: 40%,
  background: uiVariables.gray200,
},*/

._bioPic_11e8b_25 {
  display: block;
  width: 100%;
  opacity: 0.35;
}

._title_11e8b_31 {
  margin-bottom: 1.3em;
  font-size: 1.5em;
  color: var(--gray-300);
}
._hero_gut03_1 {
  min-height: 28em;
  text-align: center;
  background-color: var(--gray-200);
  background-image: url('../images/blocks.png');
  background-size: 30em auto;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

._heroTitle_gut03_12 {
  padding: 2.5em 1em 0.5em;
  color: #fff;
  font-size: 12vw;
  font-weight: 300;
}

._subTitle_gut03_19 {
  padding: 0 1em;
  font-size: 1em;
  color: #fff;
}

@media (min-width: 768px) {
  ._hero_gut03_1 {
    height: 100vh;
    background-position: left center;
    background-size: 520px auto;
  }

  ._heroTitle_gut03_12 {
    padding: 41vh 0 1rem;
    font-size: 3.5em;
  }
}
