.hero {
  height: 95vh;
  min-height: 450px;
  color: var(--grey-f);
  background: var(--color-4);
  margin-bottom: 50px;
}
.hero-title {
  font-size: 61px;
  line-height: 99vh;
  text-align: center;
}
