.brand-tile {
    position: relative;
    height: 92px;
    padding: 10px;
    margin: 10px 0;
    background-position: center center;
    background-repeat: no-repeat;

    core-tooltip {
        top:5%;
        @include size(100%,95%);
    }

    &.node {
        background-image: url(../images/weapons/node_logo.png);
        background-size: 90% auto;
    }

    // &.gulp {
    //     background-image: url(../images/weapons/gulp-2x.png);
    //     background-size: auto 95%;
    // }

    &.grunt {
        background-image: url(../images/weapons/logo-grunt.png);
        background-size: auto 90%;
    }

    &.bower {
        background-image: url(../images/weapons/bower-logo.png);
        background-size: 65% auto;
    }

    &.sass {
        background-image: url(../images/weapons/logo-sass.png);
        background-size: 73% auto;
    }

    &.yo {
        background-image: url(../images/weapons/yeoman-logo.png);
        background-size: 85% auto;
    }

    &.cordova {
        background-image: url(../images/weapons/logo-cordova.png);
        background-size: auto 78%;
    }

    &.github {
        background-image: url(../images/weapons/github-logo.png);
        background-size: 78% auto;
    }

    // &.ember {
    //     background-image: url(../images/weapons/logo-emberjs.png);
    //     background-size: 70% auto;
    // }

    &.browserify {
        background-image: url(../images/weapons/wizard_hat_blue.png);
        background-size: 68% auto;
    }

    &.ypf {
        background-image: url(../images/brands/ypf.png);
        background-size: 70% auto;
    }

    &.ibero {
        background-image: url(../images/brands/iberostar.png);
        background-size: 90% auto;
    }

    &.meli {
        background-image: url(../images/brands/meli.png);
        background-size: 80% auto;
    }

    &.consultatio {
        background-image: url(../images/brands/consultatio.png);
        background-size: 75% auto;
    }

    &.trump {
        background-image: url(../images/brands/trump.png);
        background-size: 65% auto;
    }

    // &.chandon {
    //     background-image: url(../images/brands/chandon.png);
    //     background-size: auto 100%;
    // }

    // &.eter {
    //     background-image: url(../images/brands/etermax.png);
    //     background-size: 80% auto;
    // }

    &.preguntados {
        background-image: url(../images/brands/preguntados-bn-logo.png);
        background-size: auto 95%;
    }

    &.techo {
        background-image: url(../images/brands/techo.png);
        background-size: 72% auto;
    }

    &.omint {
        background-image: url(../images/brands/omint.png);
        background-size: auto 88%;
    }
}
