
.jv-screen-experience {
    font-size: 15px;

}

.experience-title {
    margin: 13px 0 1px;
    font-size: 30px;
}

.experience-subtitle {
    margin: 0 0 18px;
    font-size: 19px;
}

.experience-list {
    margin: 0 -20px;
}

.experience-item {

    &.highlight {
        width: 100%;
        padding: 10px 0;
        margin: 40px 0;
        border-top: 1px solid $gray-lighter;
        border-bottom: 1px solid $gray-lighter;

        img {
            display: block;
            @include size(85%, auto);
            margin: 10px auto 0;
            border: 0;
        }
    }

    img {
        border: 1px solid $gray-lighter;
        // border-radius: 3px;
    }

    .credits {
        font-family: $font-family-secondary;
    }
}
