.jv-screen-home {

    .jv-btn-wrapper {
        display: block;
        text-align: center;

        > a {
            display: inline-block;
        }
    }

    .jv-btn {
        position: relative;
        min-width: 280px;
        padding: 13px;
        font-size: $font-size-large;
        background: $brand-secondary;
        border-radius: 8px;
        box-shadow: 0 3px 0 darken($brand-secondary, 15%);

        &:hover {
            background: darken($brand-secondary, 5%);
        }

        &:active {
            top: 2px;
            box-shadow: 0 1px 0 darken($brand-secondary, 12%);
        }

        &::shadow #ripple {
            color: darken($brand-terciary, 5%);
        }
    }

    .progress:last-child {
        margin-bottom: 15px;
    }
}

.section-twitter {
    display: none;
}

.section-twitter,
.section-clients {
    padding: 70px 0;
}

.section-weapons {
    padding-bottom: 70px;

    .brand-tile {
        @include transition(all 150ms ease-out);

        &:hover {
            @include transition(all 250ms cubic-bezier(.17,.67,.38,4));
            @include scale(1.1);
        }
    }
}

.section-clients {
    .brand-tile {
        height: 95px;
    }
}

.brands-tiles {
    margin-bottom: 35px;
}
