body * {
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: $font-family-secondary;
}

core-scroll-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

core-drawer-panel[narrow] button {
  display: inline-block;
}

[drawer] {
  background-color: #fff;
  border-right: 1px solid #ccc;
}

ul {
  padding: 0;
  list-style: none;
}

a {
    &:hover,
    &:active,
    &:focus {
        outline: 0;
    }
}

main {
    padding-top: 35px;
}

.container {

}

.jv-hidden {
    display: none;
}

.jv-btn {
    font-family: $font-family-secondary;
    color: #fff;
}

.jv-section-block {
    padding: 40px 0;

    &.bg-alt {
        background: #fff;
    }
}

.jv-section-title {
    text-align: center;
    margin: 0 0 30px;
}
