.nav {
  font: 14px var(--ff-secondary);
  /*border-bottom: 1px solid var(--brandMain);*/
  backface-visibility: hidden;
}

.nav,
.nav-logo,
.nav-btn {
  transition: all 200ms ease;
}

.nav.active {
  background: rgba(255,255,255,.95);
  color: var(--brandMain);
  box-shadow: 0 2px 5px rgba(0,0,0,.22);
}

.nav.active .nav-logo {
  color: var(--brandMain);
}

.nav.active .nav-btn span{
  background: var(--brandMain);
}
