.nav {
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  font: 18px/70px $Ff-secondary;
  /*font-weight: 700;*/
  color: $grey-f;
}

.nav-logo {

}

.nav-menu {
  display: block;
}

.nav-menu > li {
  display: inline-block;
  margin-left: 15px;
}

.nav-menu > li > a {
  text-transform: uppercase;
  color: $grey-f;
}
