*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: #fff;
  color: var(--grey-4);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
  text-decoration: none;
  color: var(--color-link);
}
