@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//cdn.jsdelivr.net/font-hack/2.013/css/hack.min.css);

html {
  font-size: var(--fs-base);
}
body {
  font-family: var(--ff-primary);
  font-size: 1rem;
  line-height: 1.35;
}
h1 {
  font-family: var(--ff-secondary);
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}
h2,h3 {
  font-family: var(--ff-secondary);
  font-weight: 300;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.7rem;
}
h4 {
  font-size: 1.5rem;
}
