
html {
  font-size: $Fz-base;
}

body {
  font-family: $Ff-primary;
  font-size: 1rem;
  line-height: 1.4;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: 300;
}

p {
  margin: 0;
}

.section__title {
  font-size: $Fz-xlg;
  line-height: 1.2;
}
