
//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-darker:            #222; // #222
$gray-dark:              #333;   // #333
$gray:                   #555; // #555
$gray-light:             #999; // #777
$gray-lighter:           #ddd; // #eee
$gray-lightest:          #eee; // #eee

$brand-primary:         #2B2F3E !default; //#5677fc;
$brand-secondary:       #2FE7BE !default;
$brand-terciary:        #5A6AEB !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #f4f4f8 !default;
//** Global text color on `<body>`.
$text-color:            $gray   !default;

//** Global textual link color.
$link-color:            $brand-secondary !default;
$link-hover-color:      darken($link-color, 10%) !default;


//== Typography
//

$font-family-sans-serif:  "Open Sans", Helvetica, Arial, sans-serif !default;
$font-family-secondary:   "sofia", Helvetica, Arial, sans-serif !default;

$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          16px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~20px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 3.8)) !default; // ~36px
$font-size-h2:            25 !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 2.2)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.5)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px


$line-height-base:        1.5 !default; // 20/14


$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;

$grid-gutter:             20px;
