// Core variables and mixins
@import "jv_variables";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

$font-size-base-lg:       17px !default;
$font-size-large-lg:         ceil(($font-size-base-lg * 1.25)) !default; // ~20px
$font-size-small-lg:         ceil(($font-size-base-lg * 0.85)) !default; // ~12px

$font-size-h1-lg:            floor(($font-size-base-lg * 3.8)) !default; // ~36px
$font-size-h2-lg:            floor(($font-size-base-lg * 2.6)) !default; // ~30px
$font-size-h3-lg:            ceil(($font-size-base-lg * 2.2)) !default; // ~24px
$font-size-h4-lg:            ceil(($font-size-base-lg * 1.5)) !default; // ~18px
$font-size-h5-lg:            $font-size-base-lg !default;
$font-size-h6-lg:            ceil(($font-size-base-lg * 0.85)) !default; // ~12px

h1, .h1 { font-size: $font-size-h1-lg; }
h2, .h2 { font-size: $font-size-h2-lg; }
h3, .h3 { font-size: $font-size-h3-lg; }
h4, .h4 { font-size: $font-size-h4-lg; }
h5, .h5 { font-size: $font-size-h5-lg; }
h6, .h6 { font-size: $font-size-h6-lg; }

body {
    font-size: $font-size-base-lg;
}

.section-twitter {
    display: none;
}

.brand-tile {
    height: 180px;

    .section-clients & {
        height: 120px;
    }
}

.section-weapons.bg-alt {
    background: $body-bg;
}

.jv-footer {

    .copy {
        line-height: 30px;
    }
}
