/* Default variables */
@import "helpers/_variables";

@media (min-width:320px) {
  @import "app-components/_nav__medium";
}

@media (min-width:768px) {

  // Scaffolding
  @import "base/_typography__medium";
  @import "base/_layout__large";

  // App
  @import "app-components/_nav__large";
  @import "app-components/_hero__large";
  @import "_atomizer-min-width-768px.css";
  @import "_atomizer-min-width-1024px.css";
}

@media (min-width:1024px) {
  @import "base/_typography__large";
}
