@import 'sass-bootstrap/lib/bootstrap';
@import '../styles/modules/variables';
@import '../styles/modules/fonts';
@import '../styles/modules/follow-button';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding: 0;
    font-family: $lato; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $lato; 
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 22px;
}

p {
    line-height: 20px;
    font-size: 13px;
}

ul {
    margin:0;
    padding: 0;
    list-style: none;
}

hr {
    display: block;
    width: 14px;
    float: left;
    border-color: $grayLightest;
}

.app-container {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

#nav-bar {
    position: fixed;
    background: $grayDark;
    height: 100%;
    
    .logo a {
        font: 70px/70px $mistral;
        display: block;
        color: $blue-green;
        padding-top: 25px;
    }
    
    h1 {
        display: block;
        color: $grayLightest;
        font-size: 17px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 30px;
        
        span {
            display: block;
            margin-top: 1px;
        }
    }
    
    .nav {
        display: block;
        width: calc(100% + 30px);
        margin-left: -15px;
        
        li {
            display: block;
            width: 100%;
            
            a {
                color: $whiteClouds;
                font-weight: 300;
                padding: 14px 15px;
                display: block;
                text-transform: uppercase;
                font-size: 12px;
                letter-spacing: 1px;
                
                &:hover {
                    background: $grayDarker;
                    text-decoration: none;
                }
            }
            
            &.portfolio-link a.active,
            &.portfolio-link a:hover {
                color: $violet;
            }
            
            &.flexy-link a.active,
            &.flexy-link a:hover {
                color: $orange;
            }
            
            &.about-link a.active,
            &.about-link a:hover {
                color: $pink;
            }
            
            &.contact-link a.active,
            &.contact-link a:hover {
                color: $green;
            }
        }
    }
}

#main-content {
    background: $white;
    min-height: 100%;
    padding: 10px 20px;
    float: right;
    
    .container {
        max-width: 840px;
        margin:0;
        
        @media (min-width: 1199px) {
            
        }
    }
}

#home {
    padding-top: 10%;
    
    .waykup-logo {
        display: block;
    
        img {
            display:block;
            width: 65%;
            margin: 0 auto;
        }
    }
    
    p {
        text-align: center;
        margin-top: 50px;
    }
    
    .store-icon {
        display: block;
        width: 70px;
        height: auto;
        margin: 15px auto;
    }
}

#portfolio {
    h1 {
        margin-bottom: 25px;
    }
    
    h2 {
        font-size: 18px;
    }
    
    .credits p {
        font-size: 11px;
    }
}

#about {
    padding-bottom: 60px;
    
    h1 {
        margin-bottom: 25px;
    }
    
    h2 {
        margin: 35px 0 45px;
        clear: both;
    }
    
    hr {
        margin: 25px 0 40px;
    }
    
    @media (min-width: 690px) {
        .description {
           -moz-column-count: 2;
           -moz-column-gap: 20px;
           -webkit-column-count: 2;
           -webkit-column-gap: 20px;
        }
    }
    
    .weapons {
        li {
            height: 210px;
            
            @media (max-width: 690px) {
                   height: 150px;
            }
            
            img {
                width: 70%;
                height: auto;
                display: block;
                margin: 0 auto;
            }
            
            &.sass img {
                width: 93%;
            }
            
            &.jquery img {
                width: 82%;
                padding-top: 16%;
            }
            
            &.bootstrap img {
                width: 96%;
            }
            
            &.ember img {
                width: 91%;
            }
            
            &.github img {
                width: 86%;
            }
            
            @media (max-width: 560px) {
                    
                height: 130px;
                
                img {
                    width: 95%;
                }
                
                &.sass img {
                    width: 115%;
                }
                
                &.jquery img {
                    width: 105%;
                }
                
                &.bootstrap img {
                    width: 120%;
                }
                
                &.ember img {
                    width: 116%;
                }
                
                &.github img {
                    width: 114%;
                }
            }
        }
    }
}

#contact {
    
    h1 {
        margin-bottom: 25px;
    }
    
    ul {
        display: block;
        margin-bottom: 35px;
        padding-left: 25px;
        
        li {
            display: block;
            margin-bottom: 8px;
                
            hr {
                display: block;
                float: none;
                margin: 7px 0 16px;
            }
        }
    }
    
    strong {
        display: block;
        margin-bottom: 15px;
    }
    
    .qr {
        width: 220px;
        height: 220px;
        display: block;
        background: url('../images/qr.png') no-repeat;
        background-size: 100%;
    }
}

