.btn {
  display: inline-block;
  padding: 0 20px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: var(--grey-4);
  /*background: #fff;*/
  border: 1px solid var(--grey-2);
  border-radius: 5px;
}

.btn:hover {
  color: #fff;
  background: var(--grey-2);
}
