.btn {
  display: inline-block;
  padding: 0 20px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: $brandMain;
  border: 1px solid $brandMain;
  border-radius: 5px;
}

.btn:hover {
  color: #fff;
  background: $brandMain;
}
