.hamburger {
  position: relative;
  width: 26px;
  height: 16px;
}

.hamburger span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  margin-top: -1px;
  background: #fff;
  border-radius: 10px;
}

.hamburger span:nth-child(2) {
  top: 50%;
}

.hamburger span:last-child {
  top: 100%;
}
