.progress {
  position: relative
  width: 100%
  height: 5px
  background: $grey-f
  // border-radius: 2px
  overflow: hidden
}

.progress-bar {
  position: absolute
  top:0
  left: 0
  height: 100%
  background: #2a9bec
  // border-radius: 2px
}
