.hero {
  min-height: 28em;
  text-align: center;
  background-color: var(--gray-200);
  background-image: url('../images/blocks.png');
  background-size: 30em auto;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.heroTitle {
  padding: 2.5em 1em 0.5em;
  color: #fff;
  font-size: 12vw;
  font-weight: 300;
}

.subTitle {
  padding: 0 1em;
  font-size: 1em;
  color: #fff;
}

@media (min-width: 768px) {
  .hero {
    height: 100vh;
    background-position: left center;
    background-size: 520px auto;
  }

  .heroTitle {
    padding: 41vh 0 1rem;
    font-size: 3.5em;
  }
}
