.hero {
  min-height: 28em;
  text-align: center;
  background-color: var(--gray200);
  background-image: url('images/hero-block.png');
  background-size: 30em auto;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.heroTitle {
  padding: 2.5em 1em 0.5em;
  color: #fff;
  font-size: 12vw;
  font-weight: 300;
}

.subTitle {
  padding: 0 1em;
  font-size: 1em;
  color: #fff;
}

/*'@media (min-width: 768px)': {
  height: '100vh';
  backgroundPosition: 'left center',
  // backgroundSize: '700px auto',
}*/

/*'@media (min-width: 768px)': {
  padding: '41vh 0 0',
  fontSize: '3.5em',
}*/
