/*Greys*/
$grey-1= #171717
$grey-2= #232323
$grey-4= #424242
$grey-6= #616161
$grey-9= #9E9E9E
$grey-b= #BDBDBD
$grey-e= #EEEEEE
$grey-f= #F5F5F5

/*Colors*/
$brandMain= #4E3FB5
$color-1= #50DAC8
$color-2= #DC68D2
$color-4= #282034
$color-3= #18191B
$color-ok= #00E676
$color-error= #E53935
$color-info= #3F51B5
$color-link= $color-info

/*Layout*/
$gutter= 15px

/*Typography*/
$Ff-primary= "Lato", Helvetica, Arial, sans-serif
$Ff-secondary= "Montserrat", Helvetica, Arial, sans-serif
$Fz-base= 14px
$Fz-xsm= 10px
$Fz-sm= 12px
$Fz-lg= 18px
$Fz-xlg= 23px
$Fz-xxlg= 58px
