:root {
  /* GRAYS
  ---------------------------------------------------------*/
  --gray-200: #242121;
  --gray-300: #333;
  --gray-600: #666;
  --gray-900: #999;
  --gray-1000: #bbb;
  --gray-1010: #d7d7d7;
  --gray-1020: #eee;

  /* PX to EMs
  ---------------------------------------------------------*/
  --px-10: 0.625em;
  --px-12: 0.75em;
  --px-13: 0.8125em;
  --px-14: 0.875em;
  --px-15: 0.9375em;
  --px-16: 1em;
  --px-18: 1.125em;
  --px-20: 1.25em;
  --px-25: 1.5625em;
  --px-30: 1.875em;
  --px-40: 2.5em;

  /* FONTS
  ---------------------------------------------------------*/
  --font-family-primary: 'Hack', 'Roboto Mono', 'Menlo', 'Consolas', 'Lucida Console', monospace;
  --font-family-secondary: 'slikk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-size-small: var(--px-12);
  --font-size-base: var(--px-14);
}
