<nav class="nav u-clearfix Pos(f) H(50px) W(100%) Lh(50px) Z(10)" role="navigation">
  <div class="container u-clearfix">
    <a class="nav-logo Fl(start) C(#fff) Ff($Ff-primary) Fz($Fz-xlg) Fw(900) Lts(1px)" href="index.html">JV</a>
    <button class="nav-btn hamburger u-btnReset Fl(end) Mt(17px)">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <ul class="navMenu Fl(end) D(n)">
      <li class="navMenu-item navMenu-item--about" id="about-link"><a href="about.html">About</a></li>
      <li class="navMenu-item navMenu-item--work"><a href="work.html">Work</a></li>
      <li class="navMenu-item navMenu-item--contact"><a href="mailto:juanvanni@icloud.com">Contact</a></li>
      <li class="navMenu-item navMenu-item--logo Mstart(40px)--md"><a href="https://twitter.com/juan_vanni" target="_blank" title="Twitter"><span class="navMenu-icon icon-twitter"></span><span class="u-accesibilityHidden">Twitter</span></a></li>
      <li class="navMenu-item navMenu-item--logo"><a href="https://github.com/jota-v" target="_blank" title="Github"><span class="navMenu-icon icon-github-circled"></span><span class="u-accesibilityHidden">Github</span></a></li>
      <li class="navMenu-item navMenu-item--logo"><a href="https://www.linkedin.com/profile/view?id=AAIAAAUhl0cBiztSD_LtamylksvSkhUhG9W8Rwk&trk=nav_responsive_tab_profile_pic" target="_blank" title="Linkedin"><span class="navMenu-icon icon-linkedin-squared"></span><span class="u-accesibilityHidden">Linkedin</span></a></li>
      <li class="navMenu-item navMenu-item--logo"><a href="http://stackoverflow.com/users/2083764/jotav" target="_blank" title="Stack Overflow"><span class="navMenu-icon icon-stackoverflow"></span><span class="u-accesibilityHidden">Stackoverflow</span></a></li>
    </ul>
  </div>
</nav>
