<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create', 'UA-44071951-1', 'jota-v.github.io');
    ga('send', 'pageview');
</script>

<!-- build:js({.,app,.tmp}) scripts/bundle.js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/owl.carousel/dist/owl.carousel.js"></script>
<script src="bower_components/gridalicious/jquery.grid-a-licious.js"></script>
<!-- endbuild -->

<script>

'use strict';

var nav = $('.nav');

function navPos() {
  var scrollPos = $(window).scrollTop();
  if (scrollPos > 1) {
    nav.addClass('active');
  } else {
    nav.removeClass('active');
  }
}

$(function(){

  var body = $('body'),
      pathname = window.location.pathname,
      menuLink = $('.navMenu-item');

  navPos();

  $(window).scroll(function () {
    navPos();
  });

  if (isMobile.phone === true) {
    body.addClass('mobile');
  }

  $('.nav-btn').on('click', function() {
    body.toggleClass('block');
    nav.toggleClass('nav--on');
    $('.nav-overlay').addClass('on').toggleClass('open');
  });

  switch (pathname) {
    case '/about.html':
      menuLink.removeClass('active');
      $('.navMenu-item--about').addClass('active');
      break;
    case '/work.html':
      menuLink.removeClass('active');
      $('.navMenu-item--work').addClass('active');
      break;
    case '/contact.html':
      menuLink.removeClass('active');
      $('.navMenu-item--contact').addClass('active');
      break;
  }
});
</script>
