.workRest-item {
  float:left
  width: 33.33%
  padding: 25px
  margin-bottom: 40px
  font-size: $Fz-base
  text-align left
}

.galcolumn .workRest-item {
  float: none
  width: 100%
}

.workRest-item-img {
  display: block
  width: 100%
  margin-bottom: 10px
}

.workRest-item-title {
  font-size: 16px
  font-weight: 700
  text-transform: uppercase
}

.workRest-item-context {
  margin-bottom: 15px
  font-size: 16px
}

.workRest-item p {
  margin-bottom: 10px
}

.workRest-item-copyrights {
    font-size: $Fz-sm
}
