<nav class="nav u-clearfix Pos(f) H(50px) W(100%) Lh(50px) Z(10)">
  <div class="container u-clearfix">
    <a class="nav-logo Fl(start) Fw(900) C(#fff) Fz($Fz-xlg) Lts(3px)" href="index.html">JV</a>
    <button class="nav-btn hamburger u-btnReset Fl(end) Mt(17px)">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <ul class="navMenu Fl(end) D(n)">
      <li class="navMenu-item"><a href="about.html">About</a></li>
      <li class="navMenu-item"><a href="#">Work</a></li>
      <li class="navMenu-item"><a href="#">Contact</a></li>
      <li class="navMenu-item Mstart(40px)--md"><a href="#" target="_blank" title="Twitter"><span class="navMenu-icon icon-twitter"></span><span class="u-accesibilityHidden">Twitter</span></a></li>
      <li class="navMenu-item"><a href="#" target="_blank" title="Github"><span class="navMenu-icon icon-github-circled"></span><span class="u-accesibilityHidden">Github</span></a></li>
      <li class="navMenu-item"><a href="#" target="_blank" title="Linkedin"><span class="navMenu-icon icon-linkedin-squared"></span><span class="u-accesibilityHidden">Linkedin</span></a></li>
      <li class="navMenu-item"><a href="#" target="_blank" title="Stack Overflow"><span class="navMenu-icon icon-stackoverflow"></span><span class="u-accesibilityHidden">Stackoverflow</span></a></li>
    </ul>
  </div>
</nav>
