<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script>

<!-- build:js({.,app,.tmp}) scripts/bundle.js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/owl.carousel/dist/owl.carousel.js"></script>
<script src="scripts/main.js"></script>
<!-- endbuild -->
<!-- Ya sé que no querés más excusas pero mi vieja se estresa con cualquier cosa y me está volviendo loco porque me voy 15 días de viaje.
Si le digo hoy que dejé el alquiler con lo que me costó, voy a renunciar al trabajo y me voy a vivir a europa se desmaya.

Prefiero decirle cuando vuelvo más tranquilo.

Si te hace dudar de mi, te entiendo perfectamente -->
